<%= render "shared/top" %>
<div class="menu">

  <div class="first_message">
    <h1><a>予定一覧</a></h1>
  </div>

<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice] %></p>
<% end %>

  <div class="add_users_container">
    <button class="add_users_data">
      <%= link_to "新規追加", new_schedule_path, class: "linkto_newadd" %>
    </button>
  </div>

</div>


<table class="view_schedules_table">
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>開始日</th>
      <th>終了日</th>
      <th>終日</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.id %></td>
        <td><%= schedule.title %></td>
        <td><%= schedule.start.present? ? schedule.start.strftime("%Y/%m/%d") : "-" %></td>
        <td><%= schedule.finish.present? ? schedule.finish.strftime("%Y/%m/%d") : "-" %></td>
        <td><%= schedule.eod.to_s == "1" ? "⚪︎" : "" %></td>
        <td><%= schedule.updated_at.to_s(:datetime_ymdhm)%></td>
        <td><%= link_to "詳細" , schedule %></td>
        <td><%= link_to "編集" , [:edit, schedule] %></td>
        <td><%= link_to "削除" , schedule , method: :delete , data: {confirm: "ID#{schedule.id}の予定を本当に削除しますか？この操作は取り消せません" ,cancel: 'キャンセル',commit: '削除'}, title: '予定を削除しますか？' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="view_total_schedules">
  <div class="count_total_container">
    <p>予定合計 <%= @schedules_count %> 件</p>
  </div>
  <div class="view_current_date">
    <p>本日の日付 <%= Date.today.strftime("%Y/%m/%d") %> </p>
  </div>
</div>