<%= render "shared/top" %>
<h1>予定の新規追加</h1>
<%= render "shared/errormsg", obj: @schedules, class: "show_errormsg"%>

<div class="add_form_container">
  <%= form_with model: @schedules do |f| %>
  <%= f.label :title ,"タイトル" %><a class="attention_icons">※</a><br>
  <%= f.text_field :title %><br>

  <div class="input_users_date">
    <div class="input_users_startdate">
      <%= f.label :start ,"開始日" %><a class="attention_icons">※</a><br>
      <%= f.date_field :start ,id: 'schedule_start'%>
    </div>
    <div class="input_users_finishdate">
      <%= f.label :finish ,"終了日" %><a class="attention_icons">※</a><br>
      <%= f.date_field :finish ,id: 'schedule_finish'%>
    </div>
  </div>

  <%= f.check_box :eod %>
  <%= f.label :eod ,"終日の場合はチェックを入れます" %><br>
  <%= f.label :memo ,"スケジュールメモ" %><br>
  <%= f.text_area :memo %><br>
  <%= link_to "キャンセル", schedules_index_path %>
  <%= f.submit "保存"%>
  <% end %>
</div>